@font-face {
    font-family: Sans-sarif;
    src: url(/sans-sarif.woff2);
}
@mixin flex-column($direction:column,$gap:0rem){
    display:flex;
    flex-direction:$direction;
    gap: $gap;
}
@mixin button-style($border:none,$color:#0468d7){
    width: fit-content;
    border: $border;
    border-radius: 1.5rem;
    padding: 0.8rem 2rem;
    color: $color;
    font-weight: bold;
    background-color: white;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Sans-sarif;
}
html,body{
    width: 100%;
    height: 100%;
}
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(244, 244, 244);
    font-size: clamp(14px, 1vw, 18px);
}

main{
    overflow: hidden;

    section.view1{
    background-color: #1a68d3;
    background-image: radial-gradient(ellipse at bottom, #1a68d3 5%, transparent 60%), linear-gradient(136deg, transparent, #71c7ee 290%), linear-gradient(115deg, #9d9af1, transparent 40%), linear-gradient(180deg, transparent 0, #1a68d3 70%), radial-gradient(ellipse at -70% -180%, transparent 80%, #71c7ee 0), radial-gradient(ellipse at bottom, #1a68d3 40%, transparent 80%), radial-gradient(ellipse at 5% 340%, transparent 80%, #bfc2f4 0);
    
        header{
        padding: 1rem 1rem;
        width: 100%;
        background-color: #1a68d3;

            h1{
                font-size: 0.8rem; 

            }
        }
        nav{
            padding: 2rem;
            @include flex-column(row,10rem);
            justify-content: center;
            position: sticky;
            top: 3px;

                .images{
                overflow: hidden;

                img{
                    height: 2rem;

                 }
                }

                i{
                 padding-top: 1rem;
                 font-size: 1.5rem;
                }

                .nav-buttons{
                    display: none;
                }
            }

            .topImg-Text{
            padding-top: 4rem;

              h1{
                font-size: 3.5rem;
                width:91%;
                text-align: center;
              }
            }
            .images{
                padding: 5rem 0rem;
                overflow: hidden;
                
                img{
                    object-fit: cover;
                    height: 40rem;
                    width: 95rem;
                    padding-right: 56rem;
                }

                .img1{
                height:40rem;
                padding-left:40rem;
                   
                 }
                .img2{
                height: 20rem;

                 }
                .img3{
                height:30rem;
                }

                .img4{
                height: 20rem;
                }

                .img5{
                width: 20rem;
                }
            }

            .btn-text-bottom{
                @include flex-column(column, 3rem);
                align-items: center;
                padding-bottom: 5rem;

                h1{
                    padding: 1rem 1rem;
                    text-align: center;
                    font-size: 2.5rem;
                    font-weight:400;
                }

                button{
                    @include button-style();
                }

            }

    }
    section.view2{
        color: black;
        overflow: hidden;

        h2{
        font-weight: 500;
        padding: 1rem 1rem;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 400;
        }

        .tab-menue{
            @include flex-column(row,1rem);
            justify-content:space-between;
            padding: 1rem 1rem;

           button{
            @include button-style();
            transition: all ease 0.5s;
           }
           .blue{
            background-color: blue;
            color: white;
           }
        }
        button:hover {
            background-color:rgba(171, 165, 165, 0.558);
        }

        .video{
            .video-h1-p{
                padding:2.5rem;

                h1{
                    
                    text-align: left;
                    font-family:Sans-sarif;
                    color:#14c2ad;


                }
                
                p{
                    padding-top: 1rem;
                    font-size: 1.2rem;
                    color: #6a90b2;
                    
                }

                button{
                    @include button-style(2px solid #0468d7);
                    margin: 2rem 0;
                    background-color: white;
                    
                }
            }
            
        }

        .multilatform{
            padding: 2rem;
            img{
                width: 100%;
            }

            h4{
                color: #29c2fd;
                font-size: 1.5rem;
            }

            h2{
              text-align: left;
              font-size:3rem;
              font-weight: 800;

            }

            p{
             color: #4a4a4a;
             font-size: 1.3rem;
             padding: 1rem;

            }

            button{
                @include button-style(2px solid #0468d7 );
            }
        }

        .experience{
            margin: 1rem;
            margin-top: 5rem;
        @include flex-column(column,0rem);
         
         .img{
            width: 100%;
            img{
                width: 100%;
                padding:2rem 1.2rem;
            }

        }
        .info{
             h4{
                color:#14c2ad;
                font-size: 1.5rem;
            }

            h2{
              text-align: left;
              font-size:3rem;
              font-weight: 800;

            }

            p{
             color: #4a4a4a;
             font-size: 1.3rem;
             padding: 1rem;

            }
            button{
                @include button-style(2px solid #0468d7,#0468d7 )
            }
        }
        }
         .flutter-interact{
            margin: 1rem;
            margin-top: 5rem;
        @include flex-column(column,0rem);
         
         .img{
            width: 100%;
            img{
                width: 100%;
                padding:2rem 1rem;
            }

        }
        .info{
            padding-left: 1rem;
             h4{
                color: #f25d50;
                font-size: 1.5rem;
            }

            h2{
              text-align: left;
              font-size:3rem;
              font-weight: 800;

            }

            p{
             color: #4a4a4a;
             font-size: 1.3rem;
             padding: 1rem;

            }
            button{
                @include button-style(2px solid #0468d7,#0468d7 )
            }
        }
        }
        .flutter-and-google{
        margin-top: 5rem;
        width: 100%;
        @include flex-column(column,0rem);
         
         .img{
            width: 100%;
            img{
                width: 100%;
                padding:2rem 1rem;
            }

        }
        .info{
        width: 100%;
        text-align: left;

            h4{
                padding-left: 1rem;;
                color:#14c2ad;
                font-size: 1.5rem;
            }

            h2{
              text-align: left;
              font-size:3rem;
              font-weight: 800;

            }

            p{
             color: #4a4a4a;
             font-size: 1.3rem;
            //  padding: 1rem;

            }
            button{
                @include button-style(2px solid #0468d7,#0468d7 )
                
            }
        }
        }
    }

    section.view3{
        .developerstory{
            border-radius: 2rem;
            padding: 1rem;
            background-image: linear-gradient(90deg, #ff8485, #f9eac6);
            color: black;
            margin: 2rem;
          
            .upper{
                @include flex-column(column,1.5rem );
                    padding: 1rem 1.5rem;
             
                 p{
                font-size: 2.4rem;
                width: 95%;
                text-align: left;
                }
                button{
                    width: fit-content;
                    background-color: transparent;
                    border: none;
                    font-weight: 900;
                }
            }
            
               img{
                margin-top: 5rem;
                width: 100%;
                height: 100%;
                margin-bottom: -1.5rem;
            }  }

            .clients{

                .img{
                    margin-left: 1.5rem;
                }
                h4{
                 color:#4a4a4a;
                 font-size: 1.2rem;
                 text-align: center;
                 padding: 0.5rem 0rem;
                }
                h2{
                    text-align: center;
                    padding: 1rem 1rem;
                    font-size: 3rem;
                    color: black;
                }
                p{
                    color:gray;
                    margin: 0rem 2rem;
                    font-size:1.2rem;
                    line-height: 1.5rem;
                    text-align: center;
                }
                .btn-clients{

                  @include flex-column(row,2rem);
                  justify-content: center;
                  padding:2rem 1rem;

                  button{
                    @include button-style(2px,#0468d7);
                    border: 2px solid #0468d7;
                  }
                  button:nth-child(2) {
                    border:none;
                    color:#290000;
                    
                  }
                  
                }

            }
        }

    
     section.view4{
        padding: 3rem 2rem;
        height: 100%;
        width: 100%;
        

        .container{
        background-image: linear-gradient(90deg, #9cc4f5, #b8f0f7);
        border-radius: 2rem;

        .container-details{
            padding: 3rem 5rem;
            text-align: left;
            color: black;
            h4{
                font-size: 1.4rem;
            }
            h3{
                font-weight: 100;
                padding-top: 1rem;
                font-size: 2.5rem;
                width: 100%;
            }  
            .container-btn{
                @include flex-column(column,2rem);
                width: fit-content;
                margin-top: 2rem;

                button{
                    @include button-style(1px solid black,black );
                    background-color: transparent;
                }
                button:nth-child(2){
                    border:none;
                }
            
            } 
        }
        .dart-img{
            width: 100%;

            img{
                width: 100%;
            }
        }


         }

       }
   
   
     section.view5{
      width: 100%;
      height: 100%;
      margin-bottom: 2rem;
      padding: 1rem 1rem;
       h2{
        color:black;
        font-size:2.5rem;
        padding-left: 2rem;
        margin-bottom: 40px;;
       }

       .view5-container{
        margin: 1rem;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: 0.3s;
        border-radius: 1.5rem;

          
        .view5-innercontainer{
            width: 100%;
        
            img{
                padding: 2.5rem;
                padding-bottom: 0;
                width:100%;

            }
            h4{
                text-align: center;
                color: black;
                font-weight: 500;
                font-size: 1.7rem;
                margin-bottom: 5rem;
            }
            button{
                @include button-style(none,black);
                font-size: 1.2rem;
                margin: 2rem 0rem;
                width: fit-content;
                
            }
        }
       }
     }
    }



@media (min-width:900px){ 

    main{
        section.view1{
            
            header{
                
                h1{
            text-align: center;

        }
    }
        nav{
            justify-content:center;
            gap:5rem;

            .hamburger{
                display: none;

            }
            .nav-buttons{
                @include flex-column(row,3rem );
              
                button{
                    @include button-style();
                    
                }

            }
            i{
                padding-top: 0rem;
            }
        }
        .images{
            width: 100%;
            img{
                padding:0;
                overflow: visible;
                width: 100%;
            }
        }
        .btn-text-bottom{
        h1{
            width: 65%;
        }
        }
        
          }
          section.view2{
            @include flex-column(column,1rem);
              width:100%;
              align-items: center;

            h2{
                font-size: 2rem;
                width: 53%;
                margin-top: 2rem;

            }
            .tab-menue{
            background-color: #f0f0f0;   
            gap: 0rem;
            justify-content: center;
            border-radius: 2rem;
            width: 20%;
            padding: 0;

            }

            .video{
            @include flex-column(row,0rem);
            justify-content: center;
            width: 100%;
            justify-content:center;
            align-items: center;

            video{
            width: 50%;

          }
           .video-h1-p{
           margin: 0;
           padding: 0;
           width: 21%;
           }
         }
         .multilatform{
           @include flex-column(row-reverse,0rem);
           align-items: center;
           justify-content: center;
           width: 100%;
           img{
            width: 30%;

           }
           div{
            width: 35%;
            h4{
            font-size: 1rem;
            }

            h2{
                width:100%;
            }

            p{
                width: 100%;
            }
            button{
                margin-top: 1rem;
            }

           }
         }
         .experience{
            margin-left: 10rem;
            width: 100%;
           @include flex-column(row,1rem);
           justify-content: center;
           align-items: center;
        
        .img{
         width: 40%;

         img{
            width: 80%;

         }
          }
          .info{
            padding-bottom: 5rem;
            width: 50%;

            h2{
                margin-top:0;
                padding-top: 1rem;

            }
            p{
                width: 67%;
            }
            button{
                font-size: 0.7rem;
            }
          }
         }
}}}