@font-face {
    font-family: Sans-sarif;
    src: url(/sans-sarif.woff2);
}
@mixin flex-column($direction:column,$gap:0rem){
    display:flex;
    flex-direction:$direction;
    gap: $gap;
}
@mixin button-style($border:none,$color:#0468d7){
    width: fit-content;
    border: $border;
    border-radius: 1.5rem;
    padding: 0.8rem 2rem;
    color: $color;
    font-weight: bold;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Sans-sarif;
}
html,body{
    width: 100%;
    height: 100%;
}
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(244, 244, 244);
    font-size: clamp(14px, 1vw, 18px);
}

main{
    section.view1{
    background-color: #1a68d3;
    background-image: radial-gradient(ellipse at bottom, #1a68d3 5%, transparent 60%), linear-gradient(136deg, transparent, #71c7ee 290%), linear-gradient(115deg, #9d9af1, transparent 40%), linear-gradient(180deg, transparent 0, #1a68d3 70%), radial-gradient(ellipse at -70% -180%, transparent 80%, #71c7ee 0), radial-gradient(ellipse at bottom, #1a68d3 40%, transparent 80%), radial-gradient(ellipse at 5% 340%, transparent 80%, #bfc2f4 0);
    // overflow: hidden;
        header{
        padding: 1rem 1rem;
        width: 100%;
        background-color: #1a68d3;
            h1{
                font-size: 0.8rem;             
            }
        }
        nav{
            padding: 2rem;
            @include flex-column(row,10rem);
            justify-content: center;
            position: sticky;
            top: 3px;
                .images{
                overflow: hidden;
                img{
                    height: 2rem;
                 }
                }

                i{
                 padding-top: 1rem;
                 font-size: 1.5rem;
                }

                .nav-buttons{
                    display: none;
                }
            }

            .topImg-Text{
            padding-top: 4rem;

              h1{
                font-size: 3.5rem;
                width:91%;
                text-align: center;
              }
            }
            .images{
                padding: 5rem 0rem;
                overflow: hidden;
                
                img{
                    object-fit: cover;
                    height: 40rem;
                    width: 95rem;
                    padding-right: 56rem;
                }

                .img1{
                height:40rem;
                padding-left:40rem;
                   
                 }
                .img2{
                height: 20rem;

                 }
                .img3{
                height:30rem;
                }

                .img4{
                height: 20rem;
                }

                .img5{
                width: 20rem;
                }
            }

            .btn-text-bottom{
                @include flex-column(column, 3rem);
                align-items: center;
                padding-bottom: 5rem;

                h1{
                    padding: 1rem 1rem;
                    text-align: center;
                    font-size: 2.5rem;
                    font-weight:400;
                }

                button{
                    @include button-style();
                }

            }

    }
    section.view2{
        color: black;
        overflow: hidden;

        h2{
        font-weight: 500;
        padding: 1rem 1rem;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 400;
        }

        .tab-menue{
            @include flex-column(row,1rem);
            justify-content:space-between;
            padding: 1rem 1rem;

           button{
            @include button-style();
           }
           .blue{
            background-color: blue;
            color: white;
           }
        }

        .video{
            .video-h1-p{
                padding:3rem;

                h1{
                    
                    text-align: left;
                    font-family:Sans-sarif;
                    color:#14c2ad;


                }
                
                p{
                    padding-top: 1rem;
                    font-size: 1.2rem;
                    color: #6a90b2;
                    
                }

                button{
                    @include button-style(2px solid #0468d7);
                    margin: 2rem 0;
                    background-color: white;
                    
                }
            }
            
        }

        .multilatform{
            padding: 2rem;
            img{
                width: 100%;
            }

            h4{
                color: #29c2fd;
                font-size: 1.5rem;
            }

            h2{
              text-align: left;
              font-size:3rem;
              font-weight: 800;

            }

            p{
             color: #4a4a4a;
             font-size: 1.3rem;
             padding: 1rem;

            }

            button{
                @include button-style(2px solid #0468d7 );
            }
        }
    }
}

@media (min-width:900px){ 
    main{
        section.view1{
            
            header{
                
                h1{
            text-align: center;

        }
    }
        nav{
            justify-content: space-between;
            padding-left:2.5rem;

            .hamburger{
                display: none;

            }
            .nav-buttons{
                @include flex-column(row,3rem );
              
                button{
                    @include button-style();
                }

            }
            i{
                padding-top: 0rem;
            }
        }
        .images{
            width: 100%;
            img{
                padding:0;
                overflow: visible;
                width: 100%;
            }
        }
        .btn-text-bottom{
        h1{
            width: 65%;
        }
        }
        
    }
   }
}